@font-face{
  font-family: Lobster;
  src: url(../fonts/Lobster/Lobster-Regular.ttf);
}
@font-face{
  font-family: Varela_Round;
  src: url(../fonts/Varela_Round/VarelaRound-Regular.ttf);
}
@font-face{
  font-family:  OleoScript;
  src: url(../fonts/Oleo_Script/OleoScript-Regular.ttf);
}
.font-OleoScript{
  font-family:  OleoScript;
}
.font-Lobster{
  font-family: Lobster;
}