@charset "UTF-8";
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  /* deletes the scrolling of digits inputs*/
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-image: url("../img/bg-car.jpg");
  background-color: #333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.wrapper > div {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  /* не поддерживается в CSS2 */
}

.content {
  background-color: rgba(0, 0, 0, 0.69);
  width: 60%;
  word-break: break-all;
}

/*Page navigation container and Angular Animation   */
.view {
  padding: 10px;
  color: #fff;
  position: absolute;
  transition: 250ms;
  width: 60%;
  min-height: 100%;
  word-break: break-all;
}

.navAnimation .view.ng-enter {
  bottom: 100%;
}

.navAnimation .view.ng-enter.ng-enter-active {
  bottom: 0%;
}

.navAnimation .view.ng-leave {
  bottom: 0%;
}

.navAnimation .view.ng-leave.ng-leave-active {
  bottom: -250%;
}

.navbar-brand {
  padding: 0;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.navbar li > a {
  color: #ccc;
  font-weight: bold;
}
.navbar li > a:hover {
  background-color: #000 !important;
  color: #fff;
}
.navbar li > a:focus {
  background-color: transparent !important;
}

.left-sidebar {
  padding-top: 5%;
  background-color: rgba(0, 0, 0, 0.69);
  width: 15%;
}

.send-mail {
  display: none;
}

.left-sidebar-fake {
  background-color: rgba(0, 0, 0, 0.69);
  width: 5%;
  -webkit-clip-path: polygon(0 0%, 100% 0, 0% 100%, 0 100%);
  clip-path: polygon(0 0%, 100% 0, 0% 100%, 0 100%);
}

#side-menu a {
  color: #ccc;
  display: block;
  background-color: rgba(0, 0, 0, 0.69);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 0 15px  15px 0;
  font-weight: bold;
}
#side-menu a:hover {
  background-color: #000;
  color: red;
}

.button-img {
  cursor: pointer;
}

.right-sidebar {
  padding: 20px;
  padding-top: 5%;
  border-left: 15px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.69);
  width: 20%;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  height: 20px;
  bottom: 0;
  position: fixed;
  right: 0;
}

.PopUp {
  z-index: 9999 !important;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.PopUpWrapper {
  color: #a7a7a7;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  min-height: 100%;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
}

.x-button {
  font-size: 20px;
  cursor: pointer;
}

.PopUpContent {
  padding-top: 5%;
}

.service-table {
  background-image: url("../img/servicePage.jpg");
  background-repeat: no-repeat;
  min-height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
.service-table td {
  width: 50%;
  border: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
}
.service-table td:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.service-ul > li {
  list-style: none;
}

.service-ul > li:before {
  content: "✔ ";
}

video {
  width: 100%;
  border-radius: 15px;
  background: transparent url("../video/poster.jpg") no-repeat 0 0;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
}

.tableImg {
  width: 100%;
  height: 150px;
  cursor: pointer;
}

h5, h6, .table-price {
  font-weight: bold;
  color: #ccc;
}

@media screen and (max-width: 767px) {
  * {
    font-size: 6px !important;
  }

  td > p {
    font-size: 3px !important;
  }

  .service-table {
    min-height: 0;
  }

  .right-sidebar, .left-sidebar-fake {
    display: none !important;
  }

  .left-sidebar {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.85);
    word-break: break-all;
  }

  .content {
    word-break: break-all;
    width: 70%;
  }

  .view {
    word-break: break-all;
    width: 70%;
  }

  .send-mail {
    display: block;
  }

  .tableImg {
    width: 100%;
    height: 50px;
  }

  .wrapper {
    font-size: 10px;
  }
}
